address = 127.0.0.1
port = 2501
timeout = 120

type = SSID
query = INSERT INTO ssid_table (mac, checksum, type, ssid, firsttime, lasttime, maxrate, beaconrate, packets, beacons, dot11d) VALUES ('%mac', %checksum, %type, '%ssid', %firsttime, %lasttime, %maxrate, %beaconrate, %packets, %beacons, %dot11d)

type = CLIENT
query = INSERT INTO clients_table (mac, type, firsttime, lasttime) VALUES ('%mac', %type, %firsttime, %lasttime)
